:root {
    --osnova-text-color :  #757575;
    --two-text-color: #212121;
    --background-color: #2196F3;
    --active-color: #FFFFFF;
    --dont-active-color: #F5F4FA;
    --background-h1-color: #2F303A;
    --color-footer-last: color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--active-color);
    color: var(--osnova-text-color);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
li {
    list-style-type: none;
}

.h2 {
    color: var(--two-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.h3 {
    color: var(--two-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.logo.logo-span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
}
.logo:active
.logo:hover
.logo:focus
.logo:visited {
    color: var(--background-color);
}
.logo-span:active
.logo-span:hover
.logo-span:focus
.logo-span:visited {
    color: var(--two-text-color);
}
.logo {
    color:var(--background-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
}
.logo-span {
    color: var(--two-text-color);
}
.studio:hover {
    color: var(--background-color);
}
.studio:focus {
    color: var(--background-color);
}
.studio {
    color: var(--two-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}
.nomer {
    color:var(--osnova-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}
.nomer:hover{
    color: var(--background-color);
}
.nomer:focus
.nomer:active{
    color: var(--background-color);
}
.h1-one {
    color: var(--active-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.h1 {
    background-color: var(--background-h1-color) ;
}
.button-studio {
    background-color:var(--background-color);
    color: var(--active-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-studio:hover,
.button-studio:focus,
.button-studio:active {
    background-color: var(--background-color);
}
.text-benefits {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.h3-comand{
    color: var(--two-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.text-comand {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}
.footer-span {
    color: var(--active-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer {
    background-color: var(--background-h1-color);
}
.footer-adress {
    color: var(--active-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.phone {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
a{
    text-decoration: none;
    }
    a:hover{
    text-decoration: none;
    }
    a:visited{
    text-decoration: none;
    }
    a:active{
    text-decoration: none;
    }
.phone:hover,
.phone:focus,
.phone:active {
    color: var(--background-color);
}
.current {
    color:var(--background-color)
}
.button-n {
    color: var(--two-text-color);
    background-color: var(--dont-active-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.65;
    text-align: center;
}
.button-n:hover,
.button-n:focus,
.button-n:active{
    color: var(--active-color);
    background-color: var(--background-color);
}
.h3-port {
    color: var(--two-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.text-port {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}